<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="kalman_attributes_listing_data_source" xsi:type="string">Vkr\Kalman\Model\ResourceModel\Attribute\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <preference for="Vkr\Kalman\Api\AttributeRepositoryInterface"
                type="Vkr\Kalman\Model\AttributeRepository"/>
    <preference for="Vkr\Kalman\Api\Data\AttributeInterface"
                type="Vkr\Kalman\Model\Attribute"/>

    <preference for="Magento\Catalog\Controller\Product\View"
                type="Vkr\Kalman\Controller\Product\View"/>


</config>
